<%- include("../../partials/header.ejs") %> 

<h1>Sign In!</h1>

<form action="/login" method="POST">
  <input name="username" type="text" placeholder="John Smith">
  <input name="password" type="password" placeholder="password">
  <button>Go</button>
</form>

<%- include("../../partials/footer.ejs") %> 