<h1>new trade</h1>

<form action="/trades/new" method="POST">
  <label >Recipient
    <input name="recipient" type="text" placeholder="John Smith">
  </label>
<label >Title
  <input name="title" type="text" placeholder="Logo Design">
</label>

<button>Send Trade</button>
</form>