<%- include("../partials/header.ejs") %> 
<link rel="stylesheet" type="text/css" href="/css/landing.css">
<link rel="stylesheet" type="text/css" href="/css/nav.css">
<link rel="stylesheet" type="text/css" href="/css/main.css">
<link rel="stylesheet" type="text/css" href="/css/Animaster.css">
<link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">




<nav>
  <p class="nav-title"><a href="/">SafeTrade.</a></p>
  <div class="content">
    <% if(currentUser) { %> 
      <a class="nav-content" href="#"><%= currentUser.username %></a>
      <a class="nav-content" href="/trades">Trades</a>
      <a class="nav-content" href="/trades/new">Start Trade</a>
      <a class="nav-content" href="/logout">Logout</a>
      <% } else { %>
        <a class="nav-content" href="/login">Login</a>
        <a class="nav-content" href="/register">Register</a>
      <% } %> 


  </div>
  
</nav>


<div class="opacity-0-100 speed-slow" id="heading">
  <svg class="heading-img" width="1580" height="918" viewBox="0 0 1580 918" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g id="undraw_Files_sent_re_kv00 1" clip-path="url(#clip0)">
    <path id="Vector" d="M773.592 704.291C771.778 704.295 769.982 703.932 768.312 703.224C766.641 702.517 765.131 701.479 763.872 700.174L742.577 678.122C740.093 675.545 738.734 672.088 738.797 668.509C738.86 664.931 740.341 661.524 742.914 659.036L862.404 545.139C866.682 541.087 872.386 538.884 878.278 539.006C884.171 539.128 889.778 541.565 893.886 545.79L902.991 555.217C905.025 557.312 906.623 559.789 907.692 562.504C908.762 565.22 909.282 568.121 909.222 571.04C909.163 573.978 908.524 576.876 907.343 579.568C906.161 582.259 904.461 584.691 902.338 586.725L782.962 700.515C780.448 702.943 777.087 704.298 773.592 704.291V704.291Z" fill="#73C55E"/>
    <path id="Vector_2" d="M1067.1 704.291C1063.6 704.297 1060.24 702.941 1057.72 700.511L938.351 586.725C936.228 584.692 934.528 582.259 933.347 579.568C932.165 576.876 931.526 573.978 931.467 571.04C931.407 568.122 931.927 565.221 932.997 562.505C934.067 559.789 935.664 557.312 937.698 555.217L946.804 545.79C950.911 541.564 956.518 539.127 962.411 539.005C968.304 538.883 974.007 541.087 978.286 545.139L1097.77 659.032C1100.35 661.52 1101.83 664.927 1101.89 668.506C1101.96 672.086 1100.6 675.544 1098.11 678.122L1097.37 677.402L1098.11 678.122L1076.82 700.174C1075.56 701.479 1074.05 702.516 1072.38 703.224C1070.71 703.931 1068.91 704.295 1067.1 704.291V704.291Z" fill="#73C55E"/>
    <path id="Vector_3" d="M1458.42 841.005H685.584V836.852H1454.27V527.445H1458.42V841.005Z" fill="#3F3D56"/>
    <g class="flyinright-100 speed-slow" id="File">
    <path id="Vector_4" d="M448.746 762.073H-8.66704e-06V663.34C-0.00648132 660.982 0.587157 658.662 1.72507 656.597C2.86299 654.533 4.50775 652.791 6.5046 651.537L216.906 518.551C219.143 517.146 221.731 516.401 224.373 516.401C227.015 516.401 229.603 517.146 231.84 518.551L442.241 651.537C444.238 652.791 445.883 654.533 447.021 656.597C448.159 658.662 448.752 660.982 448.746 663.34V762.073Z" fill="#CCCCCC"/>
    <path id="Vector_5" d="M377.242 768.645H71.5035C67.7992 768.641 64.2478 767.168 61.6284 764.55C59.0091 761.932 57.5357 758.382 57.5315 754.68V555.878C57.5357 552.175 59.0091 548.625 61.6284 546.007C64.2478 543.389 67.7992 541.917 71.5035 541.912H377.242C380.947 541.916 384.498 543.389 387.117 546.007C389.737 548.625 391.21 552.175 391.214 555.878V754.68C391.21 758.382 389.737 761.932 387.117 764.55C384.498 767.168 380.947 768.641 377.242 768.645Z" fill="#E6E6E6"/>
    <path id="Vector_6" d="M181.635 587.916H91.2286C90.0402 587.918 88.8631 587.685 87.7646 587.232C86.6662 586.779 85.6679 586.114 84.827 585.274C83.986 584.435 83.3189 583.438 82.8637 582.341C82.4085 581.244 82.1742 580.068 82.1742 578.88C82.1742 577.692 82.4085 576.516 82.8637 575.418C83.3189 574.321 83.986 573.324 84.827 572.485C85.6679 571.646 86.6662 570.98 87.7646 570.527C88.8631 570.074 90.0402 569.841 91.2286 569.843H181.635C182.824 569.841 184.001 570.074 185.099 570.527C186.198 570.98 187.196 571.646 188.037 572.485C188.878 573.324 189.545 574.321 190 575.418C190.455 576.516 190.69 577.692 190.69 578.88C190.69 580.068 190.455 581.244 190 582.341C189.545 583.438 188.878 584.435 188.037 585.274C187.196 586.114 186.198 586.779 185.099 587.232C184.001 587.685 182.824 587.918 181.635 587.916V587.916Z" fill="white"/>
    <path id="Vector_7" d="M355.052 633.92H92.0504C89.4347 633.92 86.9262 632.881 85.0766 631.032C83.227 629.184 82.1879 626.676 82.1879 624.062C82.1879 621.447 83.227 618.94 85.0766 617.091C86.9262 615.242 89.4347 614.204 92.0504 614.204H355.052C357.665 614.208 360.17 615.248 362.016 617.096C363.863 618.945 364.9 621.45 364.9 624.062C364.9 626.674 363.863 629.179 362.016 631.027C360.17 632.876 357.665 633.916 355.052 633.92V633.92Z" fill="white"/>
    <path id="Vector_8" d="M355.052 668.422H92.0504C89.4347 668.422 86.9262 667.384 85.0766 665.535C83.227 663.686 82.1879 661.179 82.1879 658.565C82.1879 655.95 83.227 653.443 85.0766 651.594C86.9262 649.745 89.4347 648.707 92.0504 648.707H355.052C357.668 648.707 360.176 649.745 362.026 651.594C363.875 653.443 364.914 655.95 364.914 658.565C364.914 661.179 363.875 663.686 362.026 665.535C360.176 667.384 357.668 668.422 355.052 668.422Z" fill="white"/>
    <path id="Vector_9" d="M355.052 702.925H92.0504C89.4347 702.925 86.9262 701.887 85.0766 700.038C83.227 698.189 82.1879 695.682 82.1879 693.067C82.1879 690.453 83.227 687.946 85.0766 686.097C86.9262 684.248 89.4347 683.21 92.0504 683.21H355.052C357.665 683.213 360.17 684.254 362.016 686.102C363.863 687.95 364.9 690.455 364.9 693.067C364.9 695.679 363.863 698.185 362.016 700.033C360.17 701.881 357.665 702.922 355.052 702.925V702.925Z" fill="white"/>
    <path id="Vector_10" d="M434.774 873.796H13.972C10.2676 873.792 6.71626 872.319 4.09692 869.701C1.47757 867.083 0.00417355 863.533 0 859.831V679.102C0.00417355 675.399 1.47757 671.85 4.09692 669.232C6.71626 666.613 10.2676 665.141 13.972 665.136L14.2914 665.201L199.434 743.272C207.332 746.58 215.81 748.283 224.373 748.283C232.936 748.283 241.413 746.58 249.311 743.272L434.608 665.137H434.774C438.478 665.141 442.03 666.613 444.649 669.232C447.268 671.85 448.742 675.399 448.746 679.102V859.831C448.742 863.534 447.268 867.083 444.649 869.701C442.03 872.319 438.478 873.792 434.774 873.796V873.796Z" fill="#CCCCCC"/>
    </g>
    <g class="bob speed-veryslow" id="file 2">
    <path id="Vector_11" d="M1468.91 257.116H1281.32C1277.51 257.111 1273.86 255.597 1271.17 252.905C1268.47 250.213 1266.96 246.564 1266.96 242.757V38.3585C1266.96 34.5517 1268.47 30.9021 1271.17 28.2102C1273.86 25.5184 1277.51 24.0043 1281.32 24H1468.91C1472.72 24.0042 1476.37 25.5184 1479.07 28.2102C1481.76 30.902 1483.28 34.5517 1483.28 38.3585V242.757C1483.28 246.564 1481.76 250.214 1479.07 252.905C1476.37 255.597 1472.72 257.111 1468.91 257.116V257.116Z" fill="#E6E6E6"/>
    <path id="Vector_12" d="M1394.55 71.2988H1301.6C1299.14 71.2988 1296.77 70.32 1295.03 68.5776C1293.29 66.8352 1292.31 64.4721 1292.31 62.008C1292.31 59.5439 1293.29 57.1807 1295.03 55.4384C1296.77 53.696 1299.14 52.7171 1301.6 52.7171H1394.55C1397.02 52.7171 1399.38 53.696 1401.13 55.4384C1402.87 57.1807 1403.85 59.5439 1403.85 62.008C1403.85 64.4721 1402.87 66.8352 1401.13 68.5776C1399.38 70.32 1397.02 71.2988 1394.55 71.2988Z" fill="white"/>
    <path id="Vector_13" d="M1446.1 118.598H1302.45C1301.11 118.6 1299.79 118.339 1298.56 117.83C1297.33 117.322 1296.21 116.576 1295.27 115.634C1294.32 114.693 1293.58 113.575 1293.07 112.344C1292.55 111.114 1292.29 109.794 1292.29 108.462C1292.29 107.13 1292.55 105.811 1293.07 104.58C1293.58 103.35 1294.32 102.232 1295.27 101.29C1296.21 100.349 1297.33 99.6026 1298.56 99.0941C1299.79 98.5856 1301.11 98.3248 1302.45 98.3267H1446.1C1448.79 98.3306 1451.36 99.4001 1453.26 101.3C1455.16 103.201 1456.22 105.777 1456.22 108.462C1456.22 111.148 1455.16 113.724 1453.26 115.624C1451.36 117.524 1448.79 118.594 1446.1 118.598V118.598Z" fill="white"/>
    <path id="Vector_14" d="M1446.1 154.072H1302.45C1299.76 154.072 1297.18 153.004 1295.28 151.103C1293.37 149.202 1292.31 146.624 1292.31 143.936C1292.31 141.248 1293.37 138.67 1295.28 136.769C1297.18 134.869 1299.76 133.801 1302.45 133.801H1446.1C1448.79 133.801 1451.37 134.869 1453.27 136.769C1455.17 138.67 1456.24 141.248 1456.24 143.936C1456.24 146.624 1455.17 149.202 1453.27 151.103C1451.37 153.004 1448.79 154.072 1446.1 154.072V154.072Z" fill="white"/>
    <path id="Vector_15" d="M1486.01 322.079L1311.25 253.902C1307.71 252.514 1304.86 249.776 1303.33 246.29C1301.8 242.804 1301.71 238.853 1303.09 235.305L1377.45 44.8969C1378.84 41.3522 1381.57 38.5029 1385.06 36.974C1388.55 35.4452 1392.5 35.3617 1396.05 36.7418L1570.81 104.919C1574.35 106.307 1577.2 109.044 1578.73 112.531C1580.26 116.017 1580.35 119.968 1578.96 123.515L1504.61 313.924C1503.22 317.469 1500.48 320.318 1497 321.847C1493.51 323.376 1489.56 323.459 1486.01 322.079V322.079Z" fill="#E6E6E6"/>
    <path id="Vector_16" d="M1484.33 121.955L1397.74 88.1737C1395.44 87.2769 1393.6 85.5058 1392.61 83.2496C1391.62 80.9935 1391.57 78.4371 1392.46 76.1424C1393.36 73.8477 1395.13 72.0027 1397.39 71.0128C1399.64 70.023 1402.2 69.9694 1404.5 70.8639L1491.09 104.645C1493.38 105.541 1495.23 107.312 1496.22 109.569C1497.21 111.826 1497.26 114.383 1496.37 116.678C1495.47 118.974 1493.7 120.819 1491.44 121.809C1489.18 122.799 1486.62 122.851 1484.33 121.955V121.955Z" fill="white"/>
    <path id="Vector_17" d="M1515.14 184.75L1381.32 132.542C1378.82 131.564 1376.8 129.631 1375.73 127.17C1374.65 124.709 1374.59 121.921 1375.57 119.418C1376.55 116.915 1378.48 114.903 1380.94 113.823C1383.4 112.743 1386.19 112.684 1388.69 113.659L1522.51 165.866C1523.76 166.349 1524.89 167.072 1525.85 167.993C1526.82 168.915 1527.59 170.017 1528.12 171.236C1528.66 172.456 1528.95 173.769 1528.98 175.101C1529.01 176.433 1528.77 177.757 1528.29 178.998C1527.8 180.239 1527.08 181.373 1526.15 182.334C1525.23 183.294 1524.13 184.064 1522.91 184.598C1521.69 185.132 1520.37 185.421 1519.04 185.447C1517.71 185.473 1516.38 185.236 1515.14 184.75V184.75Z" fill="white"/>
    <path id="Vector_18" d="M1502.24 217.796L1368.42 165.589C1367.18 165.105 1366.04 164.381 1365.08 163.459C1364.12 162.538 1363.35 161.436 1362.82 160.217C1362.28 158.998 1361.99 157.686 1361.96 156.355C1361.94 155.024 1362.17 153.701 1362.66 152.461C1363.14 151.222 1363.86 150.089 1364.79 149.129C1365.71 148.169 1366.81 147.399 1368.03 146.865C1369.25 146.33 1370.56 146.041 1371.89 146.013C1373.23 145.986 1374.55 146.221 1375.79 146.705L1509.61 198.913C1512.12 199.89 1514.13 201.822 1515.21 204.284C1516.29 206.746 1516.35 209.536 1515.37 212.04C1514.39 214.544 1512.46 216.557 1510 217.637C1507.53 218.716 1504.74 218.773 1502.24 217.796V217.796Z" fill="white"/>
    <path id="Vector_19" d="M1489.33 250.842L1355.51 198.635C1353.01 197.656 1351 195.724 1349.92 193.263C1348.84 190.802 1348.78 188.013 1349.76 185.511C1350.74 183.008 1352.67 180.995 1355.13 179.915C1357.59 178.835 1360.38 178.776 1362.89 179.751L1496.71 231.959C1499.21 232.936 1501.23 234.868 1502.31 237.33C1503.39 239.792 1503.44 242.582 1502.47 245.086C1501.49 247.59 1499.55 249.603 1497.09 250.683C1494.63 251.762 1491.84 251.82 1489.33 250.842V250.842Z" fill="white"/>
    <path id="Vector_20" d="M1541.59 188.701H1339.41L1307.27 137.589C1306.05 135.654 1304.36 134.058 1302.36 132.953C1300.36 131.847 1298.11 131.267 1295.82 131.267H1247.52C1245.74 131.267 1243.99 131.616 1242.35 132.296C1240.71 132.975 1239.22 133.97 1237.96 135.225C1236.7 136.48 1235.71 137.97 1235.03 139.609C1234.35 141.249 1234 143.006 1234 144.781V386.343C1234 388.117 1234.35 389.875 1235.03 391.514C1235.71 393.154 1236.7 394.644 1237.96 395.899C1239.22 397.153 1240.71 398.149 1242.35 398.828C1243.99 399.507 1245.74 399.857 1247.52 399.857H1541.59C1543.36 399.857 1545.12 399.507 1546.76 398.828C1548.4 398.149 1549.89 397.153 1551.15 395.899C1552.4 394.644 1553.4 393.154 1554.08 391.514C1554.76 389.875 1555.11 388.117 1555.11 386.343V202.215C1555.11 200.441 1554.76 198.683 1554.08 197.044C1553.4 195.404 1552.4 193.914 1551.15 192.659C1549.89 191.404 1548.4 190.409 1546.76 189.73C1545.12 189.051 1543.36 188.701 1541.59 188.701V188.701Z" fill="#CCCCCC"/>
    </g>
    <path id="Vector_21" d="M863.077 743.728H985.651C988.957 743.728 992.127 745.04 994.465 747.377C996.803 749.713 998.116 752.883 998.116 756.187V810.696C998.116 830.247 990.346 848.998 976.515 862.822C962.683 876.647 943.924 884.414 924.364 884.414H924.364C904.803 884.414 886.044 876.647 872.213 862.822C858.382 848.998 850.612 830.247 850.612 810.696V756.187C850.612 752.883 851.925 749.713 854.262 747.377C856.6 745.04 859.771 743.728 863.077 743.728H863.077Z" fill="#2F2E41"/>
    <path id="Vector_22" d="M994.026 841.216H854.702C851.121 841.212 847.689 839.789 845.157 837.258C842.626 834.728 841.202 831.297 841.198 827.719V601.489C841.198 579.443 849.96 558.299 865.557 542.71C881.153 527.12 902.307 518.362 924.364 518.362C946.421 518.362 967.574 527.12 983.171 542.71C998.768 558.299 1007.53 579.443 1007.53 601.489V827.719C1007.53 831.297 1006.1 834.728 1003.57 837.258C1001.04 839.789 997.606 841.212 994.026 841.216V841.216Z" fill="#2F2E41"/>
    <path id="Vector_23" d="M1032.72 918C1031.68 918 1030.65 917.88 1029.64 917.643L780.731 859.705C779.004 859.304 777.373 858.566 775.931 857.534C774.489 856.502 773.265 855.196 772.328 853.691C771.391 852.186 770.76 850.511 770.47 848.762C770.181 847.014 770.239 845.225 770.641 843.499L777.596 813.648C778.409 810.162 780.574 807.141 783.615 805.25C786.656 803.359 790.324 802.752 793.812 803.564L1042.72 861.502C1044.44 861.904 1046.07 862.642 1047.52 863.674C1048.96 864.706 1050.18 866.012 1051.12 867.517C1052.06 869.022 1052.69 870.697 1052.98 872.445C1053.27 874.194 1053.21 875.983 1052.81 877.709L1045.85 907.558C1045.16 910.522 1043.49 913.166 1041.1 915.061C1038.72 916.956 1035.77 917.992 1032.72 918V918Z" fill="#2F2E41"/>
    <path id="Vector_24" d="M811.914 905.799C808.638 905.793 805.475 904.597 803.013 902.435C800.552 900.273 798.959 897.291 798.532 894.044L794.571 863.652C794.112 860.103 795.081 856.517 797.264 853.681C799.447 850.845 802.667 848.99 806.217 848.524L1059.64 815.523C1063.19 815.06 1066.78 816.027 1069.62 818.21C1072.46 820.393 1074.31 823.613 1074.78 827.163L1078.74 857.556C1079.2 861.105 1078.23 864.693 1076.05 867.53C1073.86 870.367 1070.64 872.221 1067.09 872.683L813.667 905.685C813.086 905.761 812.501 905.799 811.914 905.799V905.799Z" fill="#2F2E41"/>
    <path id="Vector_25" d="M924.424 781.423C963.477 781.423 995.136 749.779 995.136 710.744C995.136 671.71 963.477 640.065 924.424 640.065C885.371 640.065 853.712 671.71 853.712 710.744C853.712 749.779 885.371 781.423 924.424 781.423Z" fill="#E6E6E6"/>
    <path id="Vector_26" d="M918.529 741.997L896.087 713.152L909.138 703.006L919.763 716.661L955.663 678.787L967.667 690.154L918.529 741.997Z" fill="#73C55E"/>
    <path id="Vector_27" d="M1004.15 756.177C1003.68 756.177 1003.2 756.152 1002.74 756.104C1000.97 755.927 999.258 755.401 997.698 754.558C996.137 753.715 994.759 752.571 993.644 751.192L974.3 727.41C972.041 724.632 970.979 721.071 971.346 717.51C971.713 713.95 973.481 710.681 976.26 708.422L1044.71 651.2C1047.49 648.942 1051.05 647.879 1054.61 648.245C1058.18 648.61 1061.45 650.374 1063.71 653.149L1083.06 676.93C1085.32 679.708 1086.38 683.269 1086.01 686.83C1085.64 690.39 1083.88 693.66 1081.1 695.918L1012.65 753.141C1010.25 755.105 1007.25 756.178 1004.15 756.177Z" fill="#73C55E"/>
    <path id="Vector_28" d="M836.542 756.177C833.447 756.179 830.445 755.11 828.049 753.151L759.581 695.908C756.806 693.648 755.042 690.38 754.677 686.822C754.312 683.264 755.375 679.706 757.632 676.93L776.975 653.149C779.237 650.375 782.507 648.611 786.069 648.244C789.63 647.877 793.191 648.936 795.972 651.19L864.44 708.432C867.215 710.692 868.978 713.96 869.344 717.518C869.709 721.077 868.646 724.635 866.389 727.41L847.045 751.192C845.93 752.571 844.552 753.715 842.991 754.558C841.431 755.401 839.718 755.927 837.953 756.104C837.484 756.152 837.014 756.177 836.542 756.177V756.177Z" fill="#73C55E"/>
    <g class="bob speed-veryslow" id="Head">
    <path id="Vector_29" d="M923.55 500.093C984.957 500.093 1034.74 450.336 1034.74 388.957C1034.74 327.579 984.957 277.822 923.55 277.822C862.143 277.822 812.362 327.579 812.362 388.957C812.362 450.336 862.143 500.093 923.55 500.093Z" fill="#73C55E"/>
    <path id="Vector_30" d="M936.51 426.063C929.641 425.871 921.092 425.631 914.51 420.825C912.549 419.335 910.938 417.434 909.789 415.255C908.641 413.077 907.983 410.674 907.861 408.215C907.742 406.467 908.029 404.716 908.699 403.097C909.37 401.479 910.406 400.037 911.726 398.885C915.165 395.981 920.187 395.297 925.6 396.889L919.992 355.927L924.109 355.363L930.702 403.519L927.264 401.942C923.279 400.115 917.808 399.186 914.408 402.057C913.573 402.807 912.923 403.74 912.508 404.782C912.093 405.825 911.923 406.949 912.014 408.068C912.114 409.898 912.608 411.685 913.462 413.308C914.315 414.931 915.509 416.351 916.96 417.471C922.083 421.212 928.897 421.695 936.626 421.912L936.51 426.063Z" fill="#2F2E41"/>
    <path id="Vector_31" d="M899.635 359.459H877.256V363.612H899.635V359.459Z" fill="#2F2E41"/>
    <path id="Vector_32" d="M970.271 359.459H947.892V363.612H970.271V359.459Z" fill="#2F2E41"/>
    <path id="Vector_33" d="M850.097 302.11C832.076 300.056 818.12 282.797 816.587 265.286C814.763 244.454 826.901 224.668 843.553 212.978C860.967 200.753 882.663 195.647 903.656 194.524C944.607 192.487 984.852 205.746 1016.57 231.722C1032.3 244.78 1046.99 261.414 1052.55 281.506C1057.39 298.955 1053.45 318.723 1039.41 330.943C1035.94 333.938 1031.88 336.181 1027.5 337.53C1023.12 338.879 1018.5 339.305 1013.94 338.782C1003.05 337.651 992.997 331.925 984.296 325.602C967.371 313.302 953.476 296.166 932.856 289.739C917.736 285.026 898.115 289.174 888.876 302.841C886.779 305.969 885.421 309.532 884.902 313.262C884.711 314.058 884.83 314.896 885.234 315.607C885.638 316.319 886.298 316.85 887.079 317.094C887.876 317.308 888.725 317.2 889.443 316.793C890.16 316.386 890.688 315.712 890.912 314.918C893.338 297.705 914.513 291.282 929.373 295.213C951.038 300.944 965.582 320.269 983.358 332.546C992.704 339.001 1003.33 344.163 1014.8 345.089C1024.68 345.863 1034.48 342.852 1042.23 336.666C1057.41 324.68 1063.22 304.065 1059.86 285.505C1055.97 264.012 1041.5 245.591 1025.62 231.329C993.426 202.722 951.631 187.29 908.563 188.107C886.597 188.611 863.676 193.144 844.752 204.749C826.395 216.006 812.207 234.838 810.353 256.729C808.721 275.997 819.063 296.151 836.817 304.592C841.003 306.574 845.492 307.841 850.097 308.339C854.075 308.793 854.043 302.559 850.097 302.109L850.097 302.11Z" fill="#2F2E41"/>
    </g>
    </g>
    <defs>
    <clipPath id="clip0">
    <rect width="1580" height="918" fill="white"/>
    </clipPath>
    </defs>
    </svg>
    
    
    <div class="flyinleft-100 speed-slow heading-content">
      <div class="head-title">
        <h1 class="">SafeTrade</h1>
        <img class="tick" src="../images/tick.png" alt="">
      </div>
      
  <h2 class="">Easy, safe paid file transfers for freelancers.</h2>
  <button class="zoomout speed-fast btn-getstarted mt"><a href="/register">Register</a></button>
  <button class="zoomout speed-fast btn-about">About Us</button>
    </div>
</div>

<div id="cards">

  
</div>
<%- include("../partials/footer.ejs") %> 

